body {
    background-color: blue;
}

@font-face {
    font-family: digital;
    src: url(digital.ttf);
}

.meeting {
    color: white;
}

.display {
    color: black;
    font-family: sans-serif;
    font-size: large;
    text-align: center;
}